body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(120deg, #ff5fa2, #ff9acb);
    font-family: Arial, sans-serif;
    text-align: center;
}


#start-btn {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    background: none;
    border: none;
    cursor: pointer;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% { transform: translate(-50%, -50%) scale(1); }
    50% { transform: translate(-50%, -50%) scale(1.2); }
    100% { transform: translate(-50%, -50%) scale(1); }
}

#hearts-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.heart {
    position: absolute;
    bottom: -60px;
    animation: fly 6s linear forwards;
    cursor: pointer;
    user-select: none;
    pointer-events: auto;
}

@keyframes fly {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-110vh);
        opacity: 0;
    }
}

.result {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#result-image {
    max-width: 500px;
    border-radius: 25px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.45);

    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#result-image.show {
    opacity: 1;
    transform: scale(1);
}

/* затемнение фона */
#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

#overlay.show {
    opacity: 1;
}

/* центр */
.result {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: none;
}

/* фото */
#result-image {
    max-width: 320px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#result-image.show {
    opacity: 1;
    transform: scale(1);
}

/* текст снизу */
#result-text {
    margin-top: 20px;
    font-size: 26px;
    color: white;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

#result-text.show {
    opacity: 1;
    transform: translateY(0);
}
